<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:flow="http://www.springframework.org/schema/webflow-config"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:osgi="http://www.springframework.org/schema/osgi"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/webflow-config http://www.springframework.org/schema/webflow-config/spring-webflow-config.xsd
          http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
          http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd
          http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
          http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
">


    <!-- Utility beans -->
    <bean id="session" class="com.studevs.dummy.restful.in.peace.utility.service.providers.SessionProvider" init-method="initSession" destroy-method="destroySession" scope="request">
    </bean>

    <bean id="encrypt" class="com.studevs.dummy.restful.in.peace.utility.service.Encrypt" scope="request">
    </bean>

    <bean id="mapper" class="com.fasterxml.jackson.databind.ObjectMapper" scope="request">
    </bean>

    <bean id="message" class="java.util.LinkedList" scope="request">
    </bean>

    <bean id="messages" class="java.util.LinkedHashMap" scope="request">
    </bean>

    <bean id="date" class="java.util.Date" scope="prototype">
    </bean>

    <!-- Model Beans -->
    <bean id="admin" class="com.studevs.dummy.restful.in.peace.models.user.Admin" scope="session">
    </bean>

    <bean id="doctor" class="com.studevs.dummy.restful.in.peace.models.user.Doctor" scope="session">
    </bean>

    <bean id="patient" class="com.studevs.dummy.restful.in.peace.models.user.Patient" scope="session">
    </bean>

    <bean id="visiting" class="com.studevs.dummy.restful.in.peace.models.user.Visiting" scope="request">
    </bean>

    <bean id="log" class="com.studevs.dummy.restful.in.peace.models.system.Log" scope="prototype">
        <property name="date" ref="date">
        </property>
    </bean>

    <!--Service Providers for Models-->
    <bean id="doctorProvider" class="com.studevs.dummy.restful.in.peace.models.user.provider.DoctorProvider" scope="request">
    </bean>

    <bean id="patientProvider" class="com.studevs.dummy.restful.in.peace.models.user.provider.PatientProvider" scope="request">
    </bean>

    <bean id="adminProvider" class="com.studevs.dummy.restful.in.peace.models.user.provider.AdminProvider" scope="request">
    </bean>
</beans>
